<launch>
  <arg name="simulation_time" default="15"/>

  <node name="spido_obskridssa_node" pkg="spido_obskridssa" type="control_lenainn_WObserver.py" output="screen">
	<param name="simulation_time"  value ="$(arg simulation_time)"/>

 </node>
  <node	name="record_Node" pkg="spido_obskridssa" type="record.py" output="screen">
  	<param name="simulation_time"  value ="$(arg simulation_time)" />

  </node>






</launch>
